<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <title>Document</title>
</head>

<body>
    <section class="hero is-info">
        <div class="hero-body">
            <p class="title">Info hero</p>
            <p class="subtitle">Info subtitle</p>
        </div>
    </section>
    <h1>歡迎光臨</h1>
    <p>現在時間:<span>{{date}}</span>
    </p>
    <a href="/pm25">
        <h3>pm2.5資訊</h3>
    </a>
    <a href="/pm25-charts">圖形繪製</a>
</body>

</html>